# dependencias
node_modules

# build angular
dist
.angular
.cache

# logs
logs
*.log
npm-debug.log*

# variables de entorno
.env
.env.*

# git
.git
.gitignore

# docker
.dockerignore
docker-compose.yml

# ide / editores
.vscode
.idea

# sistema operativo
.DS_Store
Thumbs.db

# archivos temporales
tmp
temp
coverage

# documentacion opcional
README.md